
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #F3F4F6; 
    color: #333;
}

.profile-section {
    text-align: center;
    align-items: center;

}

.content-box {
    text-align: center;
}

header {
    background-color: #1F2933;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 0 auto; 
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh; 
}

.profile-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 15px; 
    border: 4px solid #00ADB5; 
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    margin-bottom: 20px;
}

.information {
    text-align: center;
}

.information h2 {
    margin-bottom: 5px;
}

.information h3 {
    color: #00ADB5; 
    margin-top: 0;
    margin-bottom: 15px;
}

.section-title {
    margin-top: 30px;
    margin-bottom: 20px;
    border-bottom: 2px solid #00ADB5;
    display: inline-block;
}

.card-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: white;
    width: 130px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.card:hover {
    transform: translateY(-5px); 
    transition: 0.3s;
    border-bottom: 3px solid #00ADB5;
}


footer {
    background-color: #1F2933;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: auto; 
}